*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.creation-date{
    color: #c5c4c4;
}

body > header{
    background-color: #65465a;
    padding: 16px 0;
    color: #fff;
}

header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

li a {
    color:#c5c4c4;
    margin-left: 16px ;
    
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}


.conteiner {
    width:1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, 
.articles article{
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;

}
.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    font-size: 24pxs;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: #85e5e9
}

#sports .articles article a {
    background-color:#2dd9df ;
}

#economy {
    background-color: rgb(238, 238, 160);
}

#economy .articles article a {
    background-color:rgb(231, 231, 83);
}

#tecnologia {
    background-color: rgb(143, 241, 217);
}

#tecnologia .articles article a {
    background-color:rgb(61, 235, 206);
}

#futuro {
    background-color: rgb(241, 136, 136);
}

#futuro .articles article a {
    background-color:rgb(228, 92, 92);
} 